.notice {
  display: none !important;
}
.forwithinrange .dash {
  align-items: center;
  display: flex;
  padding: 0;
  justify-content: center;
  margin-top: 12px;
}
.forwithinrange {
  justify-content: center;
}
.delete_rule {
  background: #ffffff !important;
  margin-top: 31px;
}
.delete_rule .fa-trash {
  color: red !important;
}
.rule_format {
  height: 38px !important;
}
.form-control.is-valid,
.was-validated .form-control:valid {
  border-color: #8c8f94 !important;
  background-image: unset !important;
}
label {
  color: #303030 !important;
}
